[Unit]
Description=bksrv-send target.
Requires=bksrv-message.target
Requires=bksrv-send.socket

# zfs
Requires=zfs.target

[Install]
WantedBy=multi-user.target
