[Unit]
Description=bksrv-snapshot %I service=%n
# bksrv-message
# passing %n the name of the service
# as the argument to the status-email-user serivce
OnFailure=bksrv-message@%n.service

[Service]
Type=oneshot
EnvironmentFile=/usr/local/etc/bksrv-snapshot-environment
ExecStart=/usr/local/sbin/bksrv-snapshot.sh -b %i -i ${bksrv_%i}
